In [1]:
planets={'mercury','venus','earth','mars','jupiter','saturn','uranus'}
stars={'sun','moon','stephen2-18','uranus','earth','venus'}

# Union Operation- Combine both the sets

In [2]:
planets.union(stars)

{'earth',
 'jupiter',
 'mars',
 'mercury',
 'moon',
 'saturn',
 'stephen2-18',
 'sun',
 'uranus',
 'venus'}

# Intersection Opeartion - return common items

In [3]:
planets.intersection(stars)

{'earth', 'uranus', 'venus'}

# Difference

In [5]:
planets.difference(stars)

{'jupiter', 'mars', 'mercury', 'saturn'}

In [6]:
stars.difference(planets)

{'moon', 'stephen2-18', 'sun'}

# Symmetric difference

In [7]:
s1={1,2,3,4,5,6}
s2={3,4,5,6,7,2}
s1.symmetric_difference(s2)

{1, 7}

In [8]:
cricket=['england','india','pakistan','australia','netherlands','south africa']
football=['spain','germany','england','brazil','italy','netherlands','argentina']

cricket.union(football)
#similarly list and tuple doesnt have set opeartion so to do this we have to convert into set

AttributeError: 'list' object has no attribute 'union'

In [10]:
list(set(cricket).intersection(football))

['netherlands', 'england']

In [11]:
#countries who plays only cricket
list(set(cricket).difference(football))

['pakistan', 'australia', 'india', 'south africa']

In [12]:
# countries who plays only football
list(set(football).difference(cricket))

['germany', 'italy', 'brazil', 'argentina', 'spain']

In [13]:
#pure football and pure cricket countires
list(set(cricket).symmetric_difference(football))

['germany',
 'australia',
 'india',
 'south africa',
 'pakistan',
 'italy',
 'brazil',
 'argentina',
 'spain']

# Subset and Superset

In [15]:
a={1,2,3,4,5}
b={1,2}
b.issubset(a)

True

In [16]:
a.issubset(b)

False

In [17]:
a.issuperset(b)

True

In [18]:
b.issuperset(a)

False

In [21]:
p={2,3,8,7}
q={8,6,0}
p.isdisjoint(q)

False