In [1]:
#tuple
#1.Ordered but immutable collection of elements.
#2.Elements cannot be changed, added, or removed after creation.
#3.Can store different data types and is accessed by index.
#4.Created using parentheses ().
#5.Used for data that should remain constant, offering faster performance than lists.

tp=()
print(type(tp))

<class 'tuple'>

In [5]:
tp=(' rohan','rahul','om')
print(tp)

(' rohan', 'rahul', 'om')

In [8]:
len(tp)

'rahul'

In [9]:
max(tp)

'rahul'

In [10]:
min(tp)

' rohan'

In [11]:
lapi=('dell','hp','lenevo','asus','victus','aser','macbook','chromebook')
print(lapi[1])
print(lapi[1:])
print(lapi[:1])
print(lapi[::-1])
print(lapi[1:5])
print(lapi[-1])

hp
('hp', 'lenevo', 'asus', 'victus', 'aser', 'macbook', 'chromebook')
('dell',)
('chromebook', 'macbook', 'aser', 'victus', 'asus', 'lenevo', 'hp', 'dell')
('hp', 'lenevo', 'asus', 'victus')
chromebook

In [12]:
lapi.append("viewbook")

AttributeError: 'tuple' object has no attribute 'append'

In [13]:
lapi.insert(1,"viewbook")

AttributeError: 'tuple' object has no attribute 'insert'

In [14]:
lapi.remove("macbook")

AttributeError: 'tuple' object has no attribute 'remove'

In [15]:
nm=(1,2,3,4,5,5,6,6,2,1,3,8)
nm.count(1)

2

In [16]:
tupl=(1,1.23,False,'rohan')
print(tupl)

(1, 1.23, False, 'rohan')

In [18]:
products=('laptop','charger','mouse','keyboard','printer',(2,3,2,1,1))
print(products)

('laptop', 'charger', 'mouse', 'keyboard', 'printer', (2, 3, 2, 1, 1))

In [19]:
print(products[0])
print(products[5][2])

laptop
2

In [20]:
fruits=('mango','banana','apple','orange',['two mango','one banana','three apple'])
print(fruits)

('mango', 'banana', 'apple', 'orange', ['two mango', 'one banana', 'three apple'])

In [21]:
fruits.append("grapes")

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
fruits[4].append("one grapes")
print(fruits)

('mango', 'banana', 'apple', 'orange', ['two mango', 'one banana', 'three apple', 'one grapes'])

In [23]:
fruits[4].insert(1,"4 cheery")
print(fruits)

('mango', 'banana', 'apple', 'orange', ['two mango', '4 cheery', 'one banana', 'three apple', 'one grapes'])

In [24]:
fruits[4].remove("one grapes")
print(fruits)

('mango', 'banana', 'apple', 'orange', ['two mango', '4 cheery', 'one banana', 'three apple'])

In [25]:
lst1=(1,2,3,4,5)
lst2=(7,8,9,0,1)
lst3=lst1+lst2
print(lst3)

(1, 2, 3, 4, 5, 7, 8, 9, 0, 1)